.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header {
  margin-top: -7px;
  background-color: #363636;
  padding: 2px;
  
  color: white;
}


.menu {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.menu img {
  margin-top: 7px;
  width: 50%;
  margin-left: -70px;
  
}
.neueNotiz{
  height: 50px;
  margin-left: -60px;
  background-color: #535353;
  color: white;
  border: none;
  font-family: Arial;
  font-size: 18px;
  margin-bottom: 2px;
 
  
}
.notizbearbeiten{
  height: 50px;
  margin-left: 5px;
  background-color: #535353;
  font-family: Arial;
  color: white;
  border: none;
  
  font-size: 18px;
  
}

.notizlöschen{
  height: 50px;
  margin-left: 5px;
  background-color: #535353;
  font-family: Arial;
  color: white;
  border: none;
  font-size: 18px;
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  margin-top: 0px;
}

.Notizlöschen img {
  width: 5px; 
  height: 5px;
  margin-left: 5px; 
}

body {
  background-color: rgb(25, 24, 24);
  
  
}
body.dark-mode {
  background-color: rgb(25, 24, 24);
}



.box {
  background-color: white;
  padding: 60px;
  border-radius: 10px;
  display: flexbox;
  width: 70%;
  height: 40%;
  margin: 0 auto;
  margin-top: 50px;
 
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.menu ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}





.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.add-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
.add-button:hover {
  background-color: #45a049;
}

.note-form {
  background-color: orange;
  padding: 10px;
  width: 30%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
 
 
}
.note-form input,
.note-form textarea {
  margin-bottom: 10px;
  width: 100%;
}
.note-form button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
.note-form button:hover {
  background-color: #45A049;
}
.add-note-button {
  background-color: green;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.AddNote{
  background-color: #0B8E28;
    color: white;
  width: auto;
  height: auto;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-right: 10px;
    margin-left: 0px;
    border-radius: 3px;
    font-family: "Source Sans Pro", sans-serif;
    font-size: default;
}
.Cancel{
  background-color: #0B8E28;
    color: white;
   width: auto;
   height: auto;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-right: 0px;
    margin-left: 0px;
    border-radius: 3px;
    font-family: "Source Sans Pro", sans-serif;
    font-size: default;
}

.like-button-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem; 
}‚
.button-container button {
  margin: 0 0.5rem; 
}








.note-form-textarea {
  width: 100%;
  height: 150px;
  resize: vertical;
}









